@import 'tailwindcss';
@theme {
	--color-main: #6e2be2;
	--color-main-md: #341668;
	--color-main-sm: #2f145e;

	--color-bg: #060606;
	--color-font: #fff;
	--color-font-light: #888;
	--color-icon: #bbb;

	--color-btn: #0b0b12;
	--color-btn-hover: #151521;
	--color-btn-border: #555;
}

[data-theme='light'] {
	--color-main: #6e2be2;
	--color-main-md: #8e4ef5;
	--color-main-sm: #a67af7;

	--color-bg: #f5f5f5;
	--color-font: #111;
	--color-font-light: #777;
	--color-icon: #999;

	--color-btn: #e9e9e9;
	--color-btn-hover: #ddd;
	--color-btn-border: #cccccc;
}

[data-theme='blue'] {
	--color-main: #2b7de2;
	--color-main-md: #1a5cb8;
	--color-main-sm: #154a93;
	--color-bg: #0a0a0f;
	--color-font: #fff;
	--color-font-light: #999;
	--color-icon: #ccc;
	--color-btn: #0f0f1a;
	--color-btn-hover: #1a1a2e;
	--color-btn-border: #444;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/font/ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Orbitron';
	src: url('/font/orbitron/Orbitron-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: Ubuntu;
}
h1 {
	font-weight: 600;
}
h1,
h2,
h3 {
	font-family: Orbitron;
}
h2 {
	font-size: 2rem;
}
h2,
h3 {
	font-weight: 500;
}
.fa-icon {
	fill: var(--color-icon);
}
#skills .skill-tag .fa-icon {
	fill: var(--color-main-sm);
}

::selection {
	background: var(--color-main-sm);
}
::-moz-selection {
	background: var(--color-main-sm);
}

.custom-scroll {
	overflow-y: scroll;
	scrollbar-gutter: auto;
}
.custom-scroll::-webkit-scrollbar {
	background: transparent;
	width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
	border: 1px solid transparent;
	border-width: 1.5rem 1px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image:
		linear-gradient(var(--font-color-soft), var(--font-color-soft)),
		linear-gradient(90deg, transparent, transparent);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
	background-image:
		linear-gradient(var(--font-color), var(--font-color)),
		linear-gradient(90deg, transparent, transparent);
}
